[submodule "masa_protocol"]
	path = masa_protocol
	url = https://git.hipert.unimore.it/rcavicchioli/masa_protocol.git
[submodule "tkCommon"]
	path = tkCommon
	url = https://github.com/ceccocats/tkCommon.git
[submodule "class-tracker"]
	path = class-tracker
	url = https://github.com/mive93/class-tracker.git
	branch = develop-precision
[submodule "libnabo"]
	path = libnabo
	url = https://github.com/ethz-asl/libnabo.git
